<div class="slider-plan-container" id="planes" x-intersect.full="selectedTab='planes'">
  <h2>Чертеж cкpeплeния SKL-Super</h2>
  <div class="swiper slider-plan">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        @@include('plan-card.html', {image: '../img/for-plan-card1.png'})
      </div>
      <div class="swiper-slide">
        @@include('plan-card.html', {image: '../img/for-plan-card2.png'})
      </div>
      <div class="swiper-slide">
        @@include('plan-card.html', {image: '../img/for-plan-card3.png'})
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>