<a href="javascript:void(0)" class="see-card max-w-[330px]">
  <div class="flex flex-col gap-7.5">
    <div class="img-block">
      <img src="../img/for-see-card1.png" alt="prod-img">
    </div>
    <span class="name">Koмплeкт упpугoгo cкpeплeния SKL-14</span>
  </div>
  <div class="flex flex-col gap-4">
    <div class="price">
      <span>Цена</span>
    </div>
    <div class="project">
      <span>Проект</span>
    </div>
    <div class="link">
      <span>Подробнее</span>
    </div>
  </div>
</a>