<div class="slider-block">
  <div class="hidden lg:flex flex-col">
    <div class="swiper-button-prev"></div>
    <div class="swiper main-thumbs">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="video"></div>
          <img src="../img/main-slider/skreplenie-skl1.png" class="opacity-75"/>
        </div>
        <div class="swiper-slide">
          <img src="../img/main-slider/skreplenie-skl1.png" />
        </div>
        <div class="swiper-slide">
          <img src="../img/main-slider/skreplenie-skl2.png" />
        </div>
        <div class="swiper-slide">
          <img src="../img/main-slider/skreplenie-skl3.png" />
        </div>
        <div class="swiper-slide">
          <img src="../img/main-slider/skreplenie-skl4.png" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
  </div>

  <div class="swiper main">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="flex w-full justify-center">
          <video controls="controls" poster="../img/main-slider/skreplenie-skl1.png" loop>
            <source src="../img/main-slider/skreplenie-skl-14.mp4" type='video/mp4;'>
          </video>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="flex w-full justify-center">
          <img src="../img/main-slider/skreplenie-skl1.png" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="flex w-full justify-center">
          <img src="../img/main-slider/skreplenie-skl2.png" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="flex w-full justify-center">
          <img src="../img/main-slider/skreplenie-skl3.png" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="flex w-full justify-center">
          <img src="../img/main-slider/skreplenie-skl4.png" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="flex w-full justify-center">
          <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="flex w-full justify-center">
          <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>