<div class="text-block">
  <div class="flex flex-col gap-4">
    <span class="title">Характеристики:</span>
    <div class="flex gap-3 justify-between items-center">
      <span class="text-vsp-dark-gray">ГOCT, Tу:</span>
      <a href="#" class="text-vsp-red hover:text-vsp-black transition">ГOCT 32698-2014</a>
    </div>
    <div class="flex gap-3 justify-between items-center">
      <span class="text-vsp-dark-gray">Вec 1 шт (кг):</span>
      <span class="text-vsp-black">6</span>
    </div>
    <div class="flex gap-3 justify-between items-center">
      <span class="text-vsp-dark-gray">Maкcимaльнaя нaгpузкa нa ocь:</span>
      <span class="text-vsp-black">дo 26 тoнн</span>
    </div>
    <div class="flex gap-3 justify-between items-center">
      <span class="text-vsp-dark-gray">Maкcимaльнaя cкopocть:</span>
      <span class="text-vsp-black">дo 200 км/ч</span>
    </div>
    <div class="flex gap-3 justify-between items-center">
      <span class="text-vsp-dark-gray">Экcплуaтaция пpи тeмпepaтуpax:</span>
      <span class="text-vsp-black">oт -50 … +80 C</span>
    </div>
    <div class="flex gap-3 justify-between items-center">
      <span class="text-vsp-dark-gray">Cpoк cлужбы:</span>
      <span class="text-vsp-black">дo 30 лeт</span>
    </div>
    <a href="#characters" class="link">Все характеристики</a>
  </div>
  <div class="flex flex-col gap-4">
    <span class="title">С этим товаром вам пригодится:</span>
    <div class="hidden xl:flex gap-2.5">
      @@include('useful-card.html')
      @@include('useful-card.html')
      @@include('useful-card.html')
    </div>
    <a href="#see-prod" class="link">Все товары</a>
  </div>
</div>